%section.above-the-fold
  %div.container
    %div.splash
      %h1 things you can do
      %h2 coming soon. we are building lists.
    %div.splash.to-do-list
      %ul
        %li.local Some to dos
        %li.global Some to dos
        %li Some to dos
        %li Some to dos
        %li Some to dos

