%section.above-the-fold
  %div.container-fluid
    %div.row
      %div.col-md-4.splash
        %h1 things you can do
        %h2 How can people who feel small make a difference to issues that feel big?

      %div.col-md-8.splash.to-do-list
        %div.list-group
          %div
            %h2.list-group-item-heading Shop where it matters
            %p.list-group-item-text I like to set aside extra time for grocery shopping (rather than going to one of the big supermarkets) and buy my meat from a butcher, my bread from a bakery and my veggies from a farmers market. I don't do it every week, but when I do it's so much more rewarding, both in terms of taste and knowing my dollars are going to where they're deserved.
          %div
            %h2.list-group-item-heading Say 'Good Morning!'
            %p.list-group-item-text Growing up in a regional town, everyone smiled and said good morning to each other on their morning walks. I try to do that in Brisbane, even though it's not as common.
          %div
            %h2.list-group-item-heading Slow down
            %p.list-group-item-text I get really worked up when people push in front of me in lines and cut me off in traffic. However, if I focus on why I'm not in a rush, I don't get so frustrated. I think living in a city often gives us a sense of urgency, but really, it's rarely urgent.
          %div
            %h2.list-group-item-heading Pick up rubbish
            %p.list-group-item-text If I'm out and I see rubbish on the ground, and it's easy for me to put it in a bin, I do so. I'd never thought to do it until one of my friends did. I hope that people will see me and be inspired to do the same.
    %div.row.details
      %div.row
        %div.col
          %h2 We got together to ponder how quiet people could help make better, safe, kinder, more inclusive spaces. After doing some reading, thinking, talking, and a bit more of each again, we found a few key principles that can influence the things you can do.
      %div.row
        %div.col-md-4.points
          %h3 Start small.
          %div If you don’t know how to contribute, taking small, incremental steps towards changing your own habits will lead to bigger, wider-reaching, and longer-lasting things you can do.
        %div.col-md-4.points
          %h3 Think global, act local.
          %div We all have small but useful skills, quiet but firm beliefs, and intimate ties to our immediate community to help us find things we can do to become responsible global citizens.
        %div.col-md-4.points
          %h3 Create a climate of compassion.
          %div In being compassionate to yourself, your family and friends, and your local and wider community, you have more capacity to find things you can do to create meaningful change.
