%section.above-the-fold
  %div.container-fluid
    %div.row
      %div.col-md-4.splash
        %h1 things you can do
        %h2 How can people who feel small make a difference to issues that feel big?

      %div.col-md-8.splash.to-do-list
        %div.list-group
          %div
            %h2.list-group-item-heading Listening deeply
            %p.list-group-item-text So much of urban life is about busy-ness and fleeting interactions. Stopping and listening deeply to someone in need can be a precious opportunity to show them care and compassion. Deep listening involves listening without judgement, interruption, correcting perceptions or presenting solutions (which might be offered at some other time).  When others listen deeply to me I feel cared for and more in touch with the joy in my life.
          %div
            %h2.list-group-item-heading Cook something new - locally sourced and vegetarian
            %p.list-group-item-text I am passionate about caring for the amazing ecosystems we have on our planet – and eating more vegetarian food is one way of having a lighter ecological footprint. It was through sharing meals with a vegetarian housemate that I first experimented with cooking vegetarian food, and what to do with the unfamiliar spices and ingredients (especially protein-rich legumes).
          %div
            %h2.list-group-item-heading ‘Gift’ an outing together
            %p.list-group-item-text I love to give something to friends and family, but often feel uncertain about what will be used, and not just take up space in the back of a cupboard or make landfill. Giving a ‘voucher’ for an activity together can be a wonderful way to stay connected and reduce materialism (though try to avoid unnecessary travel if you can). This year, my 9 year old son was given a voucher from a school friend for his birthday “a movie, pizza dinner and telescope viewing of the stars with the Astronomical Society”. He loved it!
          %div
            %h2.list-group-item-heading Respectfully, offer a key point about contentious issues
            %p.list-group-item-text I often try to avoid conflict, especially with friends or family. And I often feel powerless about the lack of care in politics. After reading research that suggests social change occurs through our ‘networks’ I have more regularly plucked up the courage to express alternative views, perhaps offering an observation like “97% of climate scientists across the world agree humans are causing climate change” or “there are always causes and conditions behind the reason a person is acting as they do, it’s not just their choice”.
    %div.row.details
      %div.row
        %div.col
          %h2 We got together to ponder how quiet people could help make better, safe, kinder, more inclusive spaces. After doing some reading, thinking, talking, and a bit more of each again, we found a few key principles that can influence the things you can do.
      %div.row
        %div.col-md-4.points
          %h3 Start small.
          %div If you don’t know how to contribute, taking small, incremental steps towards changing your own habits will lead to bigger, wider-reaching, and longer-lasting things you can do.
        %div.col-md-4.points
          %h3 Think global, act local.
          %div We all have small but useful skills, quiet but firm beliefs, and intimate ties to our immediate community to help us find things we can do to become responsible global citizens.
        %div.col-md-4.points
          %h3 Create a climate of compassion.
          %div In being compassionate to yourself, your family and friends, and your local and wider community, you have more capacity to find things you can do to create meaningful change.
