@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

$primaryOrange: #FF7A42;
$primaryOrangeDark: #B85E37;
$complimentaryGreen: #2EB17C;
$complimentaryGreenBackground: #257D5A;
$secondaryBlueDark: #055EA7;
$secondaryBlue: #3474A9;
$secondaryOrange: #FFAF42;

$headTextColor: #FEFEFE;

/* application wide */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  font-family: 'Roboto', sans-serif;
  color: #c7c7c7;
  font-size: 2vmax;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 60px;
}

/* typography */

h1, h2, h3, h4, h5, h6, p {
  line-height: 1.36;
}

h1 {
  font-size: 6vmax;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 4.5vmax;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

h3 {
  font-size: 4.5vh;
  font-weight: normal;
}

div{
  box-sizing:border-box;
}

/* splash */

.splash {

  margin-top: 6vh;
  margin-bottom: 6vh;
  h1 {
    font-weight: bold;
    color: $headTextColor;
  }
  h2 {
    font-size: 6vh;
    color: $headTextColor;
  }
  &.to-do-list {
    text-align: left;
    ul {
      font-size: 4vmax;
      color: $headTextColor;
      list-style-type: none;
      text-shadow: 1px 1px 1px black, 3px 3px 5px $secondaryBlue
    }
    li {
      padding-left: 2em;
      &:before {
        content: '\f046' /*fontawesome char code inside the ''*/;
        font-family: FontAwesome; /* or whatever */
        display: inline-block;
        margin-left: -2em; /*same as padding-left set on li*/
        width: 2em; /*same as padding-left set on li*/
      }
    }
  }
}

.details {
  color: $headTextColor;
  height: 100%;
  background-color: $secondaryBlueDark;
  padding-left: 6vmax;
  padding-right: 3vmax;
  h2 {
    font-size: 4vh;
    color: $headTextColor;
  }
}

.points {
  padding-left: 3vmax;
  padding-right: 3vmax;
  margin-bottom: 6vh;
  h3 {
    font-weight: bold;
  }
}

.above-the-fold {
  background-color: $complimentaryGreenBackground;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 6vh;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}