@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

$primaryOrange: #FF7A42;
$complimentaryGreen: #2EB17C;
$complimentaryGreenBackground: #257D5A;
$secondaryBlue: #3474A9;
$secondaryOrange: #FFAF42;

$headTextColor: #FEFEFE;

/* application wide */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 60px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

div{
  box-sizing:border-box;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* splash */

.splash {

  display: inline;
  float: left;
  width: 40%;
  margin-top: 60px;
  margin-bottom: 60px;
  h1 {
    font-size: 6em;
    font-weight: bold;
    color: $headTextColor;
  }
  &.to-do-list {
    float: right;
    width: 60%;
    text-align: center;
    ul {
      font-size: 3em;
      color: $headTextColor;
      list-style-type: none;
      text-shadow: 1px 1px 1px $secondaryBlue, 3px 3px 5px blue
    }
    li {
      padding-left: 2em;
      &:before {
        content: '\f046' /*fontawesome char code inside the ''*/;
        font-family: FontAwesome; /* or whatever */
        display: inline-block;
        margin-left: -2em; /*same as padding-left set on li*/
        width: 2em; /*same as padding-left set on li*/
      }
    }
  }
}




.above-the-fold {
  background-color: $complimentaryGreenBackground;
}
/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}